.parent{
	display: flex;
}

html,body{
	height: 100%;
}

.sidebar{
	width: 15%;
	height: 100%;
	position: fixed;
	background: blueviolet;
}

.sidebar-pos{
	position: absolute;
	top: 50%;
	transform: translateY(-60%);
}

.img-sidebar{
	text-align: center;
}

.img-sidebar img{
	width: 60%;
	border: 8px solid #9f51e6;
	border-radius: 50%;
}

.menu {
	margin: 20px 0;
	text-align: center;
}

.menu a{
	color: white;
	opacity: 0.4;
	font-size: 19px;
	display: block;
	margin-bottom: 20px;
	text-decoration: none;
}

.menu a.selected:hover{
	opacity: 1;
	color: white;
}

.content{
	position: absolute;
	left: 15%;
	width: 85%;
	height: 100%;
	overflow-y: auto;
	padding: 0 3%;
}

section.descricao{
	position: relative;
	top: 50%;
	transform: translateY(-60%);
}

section.descricao h2{
	color: #343a40;
	font-size: 46px;
}

section.descricao h2 > span{
	color: blueviolet;
}

section.descricao h3{
	font-size: 22px;
	color: #6c757d;
}

section.descricao h3 > span{
	color: #9f51e6;
}


section.descricao p{
	color: #6c757d;
	font-size: 18px;
	margin-top: 40px
}

.icons-social{
	margin-top: 30px;
	font-size: 40px;

}

.icons-social a{
	text-decoration: none;
}

.icons-social i{
	padding-right: 15px;
	color: #363636;
}
/*projetos*/
.produtos {
	width: 940px;
	margin: 0 auto;
	padding: 50px 0;
}
.produtos li{
	display: inline-block;
	text-align: center;
	width:30%;
	vertical-align: top;
	margin: 0 1.5%;
	padding: 30px 20px;
	box-sizing: border-box;
	border:2px solid black;
	border-radius: 10px;
	}

.produtos li:hover {
	color: blueviolet;
	font-weight: bold;
	border-color: blueviolet;
}


.produtos li:active{
	border-color: green;
}
.produtos li:hover h2{
	font-size: 32px;
}
.produtos h2{
	font-size: 30px;
	font-weight: bold;
}

.produto-descricao{
	font-size: 18px;
}
